#newListBtn {
    background-color: var(--hover-purple);
    width: 60%;
    height: 50px;
    color: var(--common-white);
    font-size: 1rem;
    font-weight: 600;
    outline: 0;
    border: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px -3px var(--common-white);
    border-radius: 20px;
    transition: .1s ease-in;
}

#newListBtn:hover {
    background-color: var(--random-purple);
    transition: .1s ease-in;
}

.swiper {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.slide-content {
  text-align: center;
  padding: 50px;
}

.char {
    font-size: 28px;
    margin: 5px;
    display: inline-block;
    background-color: var(--common-white);
    width: 45px;
    height: 45px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px var(--random-purple);
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: var(--hover-purple);
}

.swiper-pagination-bullet-active {
    background-color: var(--hover-purple);
}

.swiper-button-next, .swiper-button-prev {
    margin-top: calc(-20px - (var(--swiper-navigation-size)/ 2)) !important;
}

