#newListBtn {
    background-color: var(--hover-purple);
    width: 60%;
    height: 50px;
    color: var(--common-white);
    font-size: 1rem;
    font-weight: 600;
    outline: 0;
    border: none;
    cursor: pointer;
    box-shadow: 0px 1px 5px -3px var(--common-white);
    border-radius: 20px;
    transition: .1s ease-in;
}

#newListBtn:hover {
    background-color: var(--random-purple);
    transition: .1s ease-in;
}

.carousel-list-index-text {
    font-size: 2rem;
    color: var(--common-white);
    font-weight: 600;
    text-shadow: -1px 0 var(--hover-purple), 0 1px var(--hover-purple), 1px 0 var(--hover-purple), 0 -1px var(--hover-purple);
}

.carousel-list-index-text span {
    color: var(--hover-purple);
    text-shadow: -1px 0 var(--motion-pink), 0 1px var(--motion-pink), 1px 0 var(--motion-pink), 0 -1px var(--motion-pink);
}

.swiper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.slide-content {
  text-align: center;
  padding: 50px;
}

.char {
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--common-white);
    min-width: 60px;
    height: 60px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px var(--random-purple);
    font-size: clamp(16px, 2vw, 28px);
}

.swiper-button-next:after, .swiper-button-prev:after {
    color: var(--hover-purple);
}

.swiper-pagination-bullet-active {
    background-color: var(--hover-purple);
}

.swiper-button-next, .swiper-button-prev {
    margin-top: calc(-20px - (var(--swiper-navigation-size)/ 2)) !important;
}