<main id="katakana-container" class="parallax-background" style="background-image: url('/images/backgrounds/background2.jpg');">
    <div class="fume-container">
        <h1>Katakana</h1>
    </div>
</main>