<main id="p404-container" style="background-image: url('/images/backgrounds/background1.jpg');">
    <div class="fume-container">
        <div class="p404-items-container">
            <div class="p404-title-container">
                <h1>Página não encontrada!</h1>
            </div>
            <div class="p404-button-container">
                <button>
                    <a href="/">Voltar à página inicial</a>
                </button>
            </div>
        </div>
    </div>
</main>