<main id="home-container" class="parallax-background" style="background-image: url('/images/background1.jpg')">
    <div class="home-subcontainer">
        <div class="home-title-container">
            <h1>Japanese Kana Randomizer</h1>
            <div class="home-title-line"></div>
            <h2>Escolha o alfabeto que deseja praticar:</h2>
        </div>
        <div class="box-container">
            <div class="box box1">
                <div class="box-subcontainer">
                    <div class="box-character-container">
                        <h1>あ</h1>
                    </div>
                    <div class="box-items-container">
                        <div class="box-title-container">
                            <h1>Hiragana</h1>
                        </div>
                        <div class="box-subtitle-container">
                            <p>Silabário Hiragana</p>
                        </div>
                        <div class="box-button-container">
                            <button>Selecionar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box2">
                <div class="box-subcontainer">
                    <div class="box-character-container">
                        <h1>ア</h1>
                    </div>
                    <div class="box-items-container">
                        <div class="box-title-container">
                            <h1>Katakana</h1>
                        </div>
                        <div class="box-subtitle-container">
                            <p>Silabário Katakana</p>
                        </div>
                        <div class="box-button-container">
                            <button>Selecionar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>