<link rel="stylesheet" href="/css/header.css">
<header id="header-container">
    <div class="header-subcontainer">
        <div class="header-icone">
            <a href="/">
                <img src="/images/icons/sakura100x100.png" alt="">
            </a>
        </div>
        <ul class="header-list">
            <a href="/hiragana">
                <li class="header-item">
                    Hiragana
                </li>
            </a>
            <a href="/katakana">
                <li class="header-item">
                    Katakana
                </li>
            </a>
        </ul>
    </div>
</header>