<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kana Randomizer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/sakura.png" type="image/x-icon">
</head>
<body>

    {{{body}}}

</body>
</html>